<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
	<head>

		<!-- Basic Page Needs
	  ================================================== -->
		<meta charset="utf-8">
		<title>Your Page Title Here :)</title>
		<meta name="description" content="">
		<meta name="author" content="">

		<!-- Mobile Specific Metas
	  ================================================== -->
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

		<!-- CSS
	  ================================================== -->
		<link rel="stylesheet" href="stylesheets/style.css">

		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		<!-- Favicons
		================================================== -->
		<link rel="shortcut icon" href="images/favicon.ico">
		<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
		<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">

	</head>
	<body>
    <div class="container">
        <div class="sixteen columns">
             <h1 class="remove-bottom" style="margin-top: 40px">BackBone</h1>

            	<h5>Something, something, JavaScript...</h5>

            <hr />
        </div>
        <div class="sixteen columns">
                    <h3>People</h3>
                <div id="page">
                
                </div>
            </div>
        <form action="#">
            
            <div class="sixteen columns">
                	<h3>Add a Person</h3>

            </div>
            <div class="five columns alpha">
                <p>
                    <label for="name">Name</label>
                    <input type="text" id="name" placeholder="Fry/Leela" />
                    <label for="name">Avatar</label>
                <input type="url" id="avatar" placeholder="www.avatar.com/avatar.png" />
                    
                    <label for="dateofbirth">Date of Birth</label>
                    <input type="date" id="dateOfBirth" />
                </p>
            </div>
            <div class="five columns">
            <label for="email">Email</label>
                    <input type="email" id="email" placeholder="someone@gmail.com" />
            	<label for="phoneType">Phone Type</label>
                    <select id="phoneType">
                        <option value="Mobile">Mobile</option>
                        <option value="Home">Home</option>
                        <option value="Work">Work</option>
                    </select>
                    <label for="phone">Phone Number</label>
                    <input type="tel" placeholder="555-555-5555" />
                    <!-- Wrap checkbox/radio button groups in fieldsets -->
                    <fieldset>
                        <label for="">Gender</label>
                        <label for="female">
                            <input type="radio" name="gender" id="female" value="female" /> <span>Female</span>

                        </label>
                        <label for="male">
                            <input type="radio" name="gender" id="male" value="male" /> <span>Male</span>

                        </label>
                    </fieldset>
            </div>
            <div class="five columns">
                <!-- Label and textarea -->
                <label for="bio">Bio</label>
                <textarea id="bio" placeholder="enter some info about you"></textarea>
                <fieldset>
                    <!-- Give the fieldset a label -->
                    <label for="">Hobbies</label>
                    <!-- Wrap each checkbox in a label, then give it the input and span for the text option -->
                    <label for="hiking">
                        <input type="checkbox" id="hiking" value="hiking" /> <span>Hiking</span>

                    </label>
                    <label for="cooking">
                        <input type="checkbox" id="cooking" value="cooking" /> <span>Cooking</span>

                    </label>
                    <label for="videoGames">
                        <input type="checkbox" id="videoGames" value="videoGames" /> <span>Video Games</span>

                    </label>
                    <label for="movies">
                        <input type="checkbox" id="movies" value="movies" /> <span>Movies</span>

                    </label>
                </fieldset>
                
            </div>
            <div class="one column omega"></div>
            <div class="sixteen columns">
                <button type="submit">Submit Form</button>
            </div>
        </form>
    </div>
		<script src="libraries/jquery/jquery.js"></script>
		<script src="libraries/underscore/underscore.js"></script>
		<script src="libraries/backbone/backbone.js"></script>
        <script type="text/template" id="people-list-template">
            <a href="#/people_new" class="btn btn-primary">New</a>
            <hr />
            <table>
              <thead>
                <tr>
                  <th>avatar</th>
                  <th>name</th>
                  <th>email</th>
                  <th>dateOfBirth</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
              <% _.each(data, function(item) { %>
                <tr>
                  <td><img src="<%= item.get('avatar') %>" /></td> 
                  <td><%= item.get('name') %></td> 
                  <td><%= item.get('email') %></td>
                  <td><%= item.get('dateOfBirth') %></td>
                  <td><a class="btn" href="#/people_edit/<%= item.id %>">Edit</a></td>
                </tr>
              <% }); %>
              </tbody>
            </table>
        </script> 

        <script type="text/template" id="people-edit-template">
          <form class="people-edit-form">
            <legend><%= data ? 'Edit' : 'New' %></legend>
              
              <label>name</label>
                <input name="name" type="text" value="<%= data ? data.get('name') : '' %>"> 
              <label>email</label>
                <input name="email" type="text" value="<%= data ? data.get('email') : '' %>"> 
              <label>avatar</label>
                <input name="avatar" type="text" value="<%= data ? data.get('avatar') : '' %>"> 
              <label>dateOfBirth</label>
                <input name="dateOfBirth" type="text" value="<%= data ? data.get('dateOfBirth') : '' %>"> 
              <label>preferredPhoneType</label>
                <input name="preferredPhoneType" type="text" value="<%= data ? data.get('preferredPhoneType') : '' %>"> 
              <label>phoneNumber</label>
                <input name="phoneNumber" type="text" value="<%= data ? data.get('phoneNumber') : '' %>"> 
              <label>gender</label>
                <input name="gender" type="text" value="<%= data ? data.get('gender') : '' %>"> 
              <label>bio</label>
                <input name="bio" type="text" value="<%= data ? data.get('bio') : '' %>"> 
              <label>hobbies</label>
                <input name="hobbies" type="text" value="<%= data ? data.get('hobbies') : '' %>"> 
              
            <hr />
            <input type="submit" class="btn" value="<%= data ? 'Update' : 'Create' %>" />
            <% if (data) { %>
              <input type="hidden" name="id" value="<%= data.id %>" />
              <input type="button" class="btn btn-danger delete" value="Delete" /> 
            <% }; %>
            <input type="button" class="btn cancel" value="Back" />
          </form>
        </script>

            

        <script>

        /* Define where your api entry point is. The following uses yourdomain.com/api/ */
        $.ajaxPrefilter( function( options, originalOptions, jqXHR ) {
          options.url = 'api' + options.url;
        });

        /* jQuery plugin to turn form into JSON 
           http://stackoverflow.com/questions/1184624/convert-form-data-to-js-object-with-jquery */
        $.fn.serializeObject = function() {
          var o = {};
          var a = this.serializeArray();
          $.each(a, function() {
              if (o[this.name] !== undefined) {
                  if (!o[this.name].push) {
                      o[this.name] = [o[this.name]];
                  }
                  o[this.name].push(this.value || '');
              } else {
                  o[this.name] = this.value || '';
              }
          });
          return o;
        };
                    

        /* Collection */
        var People = Backbone.Collection.extend({
            url : "/people"
        });
            
        /* Model */
        var Person = Backbone.Model.extend({
            defaults : {
                id : 0,
                name : "",
                email : "",
                avatar : "",
                dateOfBirth : {

                },
                preferredPhoneType : "",
                phoneNumber : "",
                gender : "",
                bio : "",
                hobbies : [

                    ]
            },
            urlRoot : "/people"
        });
            
        /* View */
        var PeopleListView = Backbone.View.extend({
            el: '#page',
            render: function () { 
                var people = new People();
                var that = this;
                people.fetch({
                    success: function (data) {
                        var template = _.template($('#people-list-template').html(), {data : data.models});
                        that.$el.html(template);
                    }
                });
            }
        });

        var peopleListView = new PeopleListView();

        var PeopleEditView = Backbone.View.extend({
            el: '#page',
            events: {
                'submit .people-edit-form': 'saveItem',
                'click .delete': 'deleteItem',
                'click .cancel': 'cancelItem'
            },
            item : null,
            cancelItem : function (e) {
                router.navigate('', {trigger:true});
            },
            deleteItem: function (e) {
                this.item.destroy({
                    success: function () { 
                        router.navigate('', {trigger:true});
                    }
                })
            },
            render: function (options) { 
                var that = this;
                if(options.id) {
                    this.item = new Person({id: options.id});
                    this.item.fetch({
                        success: function (data) {    
                            var template = _.template($('#people-edit-template').html(), {data : data});
                            that.$el.html(template);
                        }
                    });
                } else {
                    var template = _.template($('#people-edit-template').html(), {data : null});
                    this.$el.html(template);
                }
            },
            saveItem: function (e) {    
                var details = $(e.currentTarget).serializeObject(); 
                var person = new Person();
                details.id = parseInt(details.id)
                person.save(details, {
                    success: function (data) {
                        router.navigate('', {trigger:true});
                    }
                });
                return false;
            }
        });
         
        var peopleEditView = new PeopleEditView();


            
        /* Router */
        var Router = Backbone.Router.extend({
            routes: {
              "": "home", 
              "people_edit/:id": "edit",
              "people_new": "edit",
            }
        });

        var router = new Router;
        router.on('route:home', function() { 
          peopleListView.render();
        })
        router.on('route:edit', function(id) {
          peopleEditView.render({id: id});
        })
        Backbone.history.start();

            
        </script>

	</body>
</html>
