<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
	<head>

		<!-- Basic Page Needs
	  ================================================== -->
		<meta charset="utf-8">
		<title> ( ಠ_ಠ ) </title>
		<meta name="description" content="">
		<meta name="author" content="">

		<!-- Mobile Specific Metas
	  ================================================== -->
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

		<!-- CSS
	  ================================================== -->
		<link rel="stylesheet" href="stylesheets/style.css">

		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		<!-- Favicons
		================================================== -->
		<link rel="shortcut icon" href="images/favicon.ico">
		<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
		<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">

	</head>
	<body>
    <div class="container">
        <div class="sixteen columns">
             <h1 class="remove-bottom" style="margin-top: 40px">Backbone.js</h1>

            	<h5>=>=>=>=>=>=>=>=>=>=>=></h5>

            <hr />
        </div>
        <div class="sixteen columns">                   
                <div id="list">                
                </div>
                <div id="add-edit"></div>
            </div>
    </div>
		<script src="libraries/jquery/jquery.js"></script>
		<script src="libraries/underscore/underscore.js"></script>
		<script src="libraries/backbone/backbone.js"></script>
        <script src="libraries/moment/moment.min.js"></script>
        <script type="text/template" id="people-list-template">
            <div class="two columns alpha"><h3>People</h3></div>
            <div class="fourteen columns omega"><button id="addNewPerson">Add a New Person</button></div>
            <table>
              <thead>
                <tr>
                  <th></th>
                  <th>Name</th>
                  <th>Email</th>
                  <th>D.O.B.</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
              <% _.each(data, function(item) { %>
                <tr>
                  <td><img src="<%= item.get('avatar') %>" /></td> 
                  <td><%= item.get('name') %></td> 
                  <td><%= item.get('email') %></td>
                  <td><%= new Date(item.get('dateOfBirth')).toLocaleDateString() %></td>
                  <td><a class="btn" href="#/people_edit/<%= item.id %>">Edit</a></td>
                </tr>
              <% }); %>
              </tbody>
            </table>
        </script> 

        <script type="text/template" id="people-edit-template">
          <form class="people-edit-form">
            <legend class="sixteen columns"><h3><%= data ? 'Update This Person' : 'Add a New Person' %></h3></legend>
              <div class="five columns alpha">                
                <label for="name">Name</label>
                <input type="text" id="name" name="name" placeholder="Fry/Leela" value="<%= data ? data.get('name') : '' %>" />
                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="someone@gmail.com"  value="<%= data ? data.get('email') : '' %>" />
                <label for="dateofbirth">Date of Birth</label>
                <input type="date" id="dateOfBirth" name="dateOfBirth" value="<%= data ? moment(data.get('dateOfBirth')).format('YYYY-MM-DD') : '' %>" />                
            </div>
            <div class="five columns">            
                <label for="preferredPhoneType">Phone Type</label>
                    <select id="preferredPhoneType" name="preferredPhoneType">
                        <option value="Mobile">Mobile</option>
                        <option value="Home">Home</option>
                        <option value="Work">Work</option>
                    </select>
                    <label for="phone">Phone Number</label>
                    <input id="phoneNumber" name="phoneNumber" type="tel" placeholder="555-555-5555" value="<%= data ? data.get('phoneNumber') : '' %>" />
                    <!-- Wrap checkbox/radio button groups in fieldsets -->
                    <fieldset>
                        <label for="">Gender</label>
                        <label for="female">
                            <input type="radio" name="gender" id="female" value="female" <%= data ? (data.get('gender') === 'female' ? 'checked' : '') : ''%> /> <span>Female</span>

                        </label>
                        <label for="male">
                            <input type="radio" name="gender" id="male" value="male" <%= data ? (data.get('gender') === 'male' ? 'checked' : '') : ''%>  /> <span>Male</span>

                        </label>
                    </fieldset>
            </div>
            <div class="six columns omega">
                <p class="three columns alpha"><label for="name">Avatar</label>
                <input type="url" id="avatar" name="avatar" placeholder="www.avatar.com/avatar.png" value="<%= data ? data.get('avatar') : '' %>" /></p><p class="three columns omega"><img id="avatarPreview"></img></p>
                <p class="six columns alpha omega">
                <label for="bio">Bio</label>
                <textarea id="bio" name="bio" placeholder="enter some info about you"><%= data ? data.get('bio') : '' %></textarea>
                <fieldset>
                    <label for="">Hobbies</label>
                    <label for="hiking">
                        <input type="checkbox" id="hobbies" name="hobbies" value="hiking" <%= data ? (_.contains(data.get('hobbies'), 'hiking') ? 'checked' : '') : ''%>  /> <span>Hiking</span>

                    </label>
                    <label for="cooking">
                        <input type="checkbox" id="hobbies" name="hobbies" value="cooking" <%= data ? (_.contains(data.get('hobbies'), 'cooking') ? 'checked' : '') : ''%> /> <span>Cooking</span>

                    </label>
                    <label for="videoGames">
                        <input type="checkbox" id="hobbies" name="hobbies" value="videoGames" <%= data ? (_.contains(data.get('hobbies'), 'videoGames') ? 'checked' : '') : ''%> /> <span>Video Games</span>

                    </label>
                    <label for="movies">
                        <input type="checkbox" id="hobbies" name="hobbies" value="movies" <%= data ? (_.contains(data.get('hobbies'), 'movies') ? 'checked' : '') : ''%> /> <span>Movies</span>

                    </label>
                </fieldset>
                </p>
            </div>           
            <hr />
            <input type="submit" class="btn" value="<%= data ? 'Update' : 'Create' %>" />
            <% if (data) { %>
              <input type="hidden" name="id" value="<%= data.id %>" />
              <input type="button" class="btn btn-danger delete" value="Delete" /> 
            <% }; %>
            <input type="button" class="btn cancel" value="Back" />
          </form>
        </script>

        <script>

            (function ($) {
                'use strict';
                /* Define where your api entry point is. The following uses yourdomain.com/api/ */
                $.ajaxPrefilter( function( options, originalOptions, jqXHR ) {
                  options.url = 'api' + options.url;
                });

                /* jQuery plugin to turn form into JSON 
                   http://stackoverflow.com/questions/1184624/convert-form-data-to-js-object-with-jquery */
                $.fn.serializeObject = function() {
                  var o = {};
                  var a = this.serializeArray();
                  $.each(a, function() {
                      if (o[this.name] !== undefined) {
                          if (!o[this.name].push) {
                              o[this.name] = [o[this.name]];
                          }
                          o[this.name].push(this.value || '');
                      } else {
                          o[this.name] = this.value || '';
                      }
                  });
                  return o;
                };

            })(jQuery);

        </script>
            
        <script src="js/models/person.js"></script>
        <script src="js/collections/people.js"></script>
        <script src="js/views/edit.js"></script>
        <script src="js/views/list.js"></script>
        <script src="js/routers/router.js"></script>
        <script src="js/app.js"></script>

	</body>
</html>
